<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id="creditCard" class="in.nileshit.CreditCard"></bean>
    <bean id="debitCard" class="in.nileshit.DebitCard"></bean>
    <bean id="upi" class="in.nileshit.UpiPayment"></bean>
    <bean id="billCollector" class="in.nileshit.BillCollector">
              <property name="payment" ref="debitCard"/>
              <constructor-arg  name = "payment" ref = "creditCard" />
    </bean>
      
</beans>
